$font: openSans;

@font-face {
  font-family: $font;
  src: url('../fonts/OpenSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: $font;
  src: url('../fonts/OpenSans-LightItalic.ttf');
  font-weight: 300;
  font-style:italic;
}

@font-face {
  font-family: $font;
  src: url('../fonts/OpenSans-Italic.ttf');
  font-weight: normal;
  font-style:italic;
}

@font-face {
  font-family: $font;
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: $font;
  src: url("../fonts/OpenSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: $font;
  src: url("../fonts/OpenSans-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style:italic;
}

@font-face {
  font-family: $font;
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: $font;
  src: url("../fonts/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style:italic;
}

@font-face {
  font-family: $font;
  src: url("../fonts/OpenSans-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: $font;
  src: url("../fonts/OpenSans-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style:italic;
}