.topnav {
   display: flex;
   overflow: hidden;
   align-items: center;
   flex-flow: wrap;
   justify-content: space-between;
}

.dropdown__content a,
.topnav__item {
   color: $grey;

   font-size: 1.0625rem;
}

.topnav__item {
   display: inline-block;
}

.topnav .menu__icon {
   display: none;
}

.dropdown {
   display: inline-block;
   overflow: hidden;
}

.dropdown .dropbtn {
   outline: none;
}

.dropdown__content {
   position: absolute;
   z-index: 1;

   display: none;
}

.dropdown__content a {
   display: block;
}

.dropdown:hover .dropdown__content {
   display: block;
}

.menu__icon {
   display: inline-block;

   cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
   width: 35px;
   height: 5px;

   transition: 0.4s;

   background: #2f5bea;
}

.menu__icon--close .line1 {
   -webkit-transform: rotate(-45deg) translate(-9px, 6px);
           transform: rotate(-45deg) translate(-9px, 6px);
}

.menu__icon--close .line2 {
   opacity: 0;
}

.menu__icon--close .line3 {
   -webkit-transform: rotate(45deg) translate(-8px, -8px);
           transform: rotate(45deg) translate(-8px, -8px);
}
@media screen and (max-width: 600px) {
   .topnav a,
   .dropdown .dropbtn {
      display: none;
   }
   .topnav .menu__icon {
      display: block;
   }
}

@media screen and (max-width: 600px) {
   .topnav.responsive {
      position: relative;
   }
   .topnav.responsive .menu__icon {
      position: absolute;
      top: 0;
      right: 0;
   }
   .topnav.responsive a {
      display: block;
   }

   .topnav.responsive .dropdown__content {
      position: relative;
   }

   .topnav.responsive .dropdown .dropbtn {
      display: block;

      width: 100%;
   }
}
