.modal {
   position: fixed;
   top: 0;
   left: 0;

   display: flex;
   align-items: center;;
   justify-content: center;

   width: 100vw;
   height: 100vh;

   background: rgba(0,0,0,0.7);
}

#modal {
   visibility: hidden;
   opacity: 0;
   transition: all 0.3s;
}

#modal.modal--show {
   visibility: visible;
   opacity: 1;
   z-index: 10;
}
