.slider {
   position: relative;
}

.slider__nav {
   position: absolute;
   z-index: 1;
   top: 130px;
   left: 445px;
}

.slider__item--hide {
   visibility: hidden;

   height: 0;

   opacity: 0;
}

.slider__item {
   transition: opacity ease 1s;
}

.next:hover,
.prev:hover {
   color: $white;
   background: rgba(255, 255, 255, 0.2);
}

.next:hover path,
.prev:hover path{
   fill: $white;
}

.next path,
.prev path{
    transition: fill 0.2s;
}

.next,
.prev {
   display: inline-flex;
   align-items: center;
   justify-content: center;

   width: 49px;
   height: 49px;
   margin-right: 0.5rem;

   cursor: pointer;
   transition: background 0.2s;

   border-radius: 50%;
   background: $white;
}
