/**
*Base
*/
/**colors scheme*/
$grey-black: #54565a;
$grey: #7e8085;//font
$dark: #2c2e30;//font
$white: #fff;
$light-grey: #f6f8f9;//bg
$dark-grey: #c9cdd5;//button border
$subgrey: #d2d2d2;
$red: #fc5c42;//font
$blue: #2f5bea;//button, bg
$black: #000;
$dark-black: #51545e;
$dark-special: #545f75;//bg
$grey-special: #c5d0e6;
$creative-designer: #4f5265;
$best-creative-designer: #11171f;
/**===colors===*/

/**fonts*/
@import "fonts";
/**===fonts===*/

/**menu*/
@import "menu";
/**===menu===*/

/**popup*/
@import "popup";
/**===popup===*/

/**slider*/
@import "slider";
/**===slider===*/

h1,
h2,
h3,
h4 {
   margin-top: 0;
   margin-bottom: 0;

   color: $dark;
}

input,
textarea,
select,
button,
body.landing,
::placeholder {
   font-family: $font;
}

p {
   margin: 0.5rem 0;
}

a {
   text-decoration: none;
}

.step__excerpt,
.subheading,
.device p {
   line-height: 1.75;
}


body.landing {
   margin: 0;
   padding: 0;

   font-size: 16px;
}

h1 {
   font-size: 3rem;//48
}

h2 {
   font-size: 2.125rem;//34
}

h3 {
   font-size: 1.3125rem;//21
}

h4 {
   font-size: 0.875rem;//14
}

.subtitle {
   text-transform: uppercase;

   color: $grey;

   font-size: 1rem;//16
}

.subheading {
   color: $grey;

   font-size: 1.125rem;//18
   font-weight: 600;
}

ul {
   padding-left: 0;

   list-style: none;
}

figure {
   margin: 0;
}

.light {
   background: $white;
}

.dark {
   background: $light-grey;
}

/**button*/
.btn--primary,
.form__input,
.header__cta {
   border-radius: 5px;
}

.btn--primary {
   min-width: 11.25rem;
   height: 3.4375rem;

   cursor: pointer;
   text-align: center;
   text-transform: uppercase;

   color: $white;
   border: none;
   background: #2f5bea;
   box-shadow: none;

   font-size: 1.0625rem;//17
   font-weight: bold;
}
/**===button===*/

.grid {
   max-width: 1110px;
   margin: auto;
}

.grid:not(.grid--special) {
   padding-top: 7.625rem;
   padding-bottom: 7.625rem;
}
/**
===Base===
*/

/**
*header
*/

.header {
   position: fixed;
   z-index: 2;

   display: flex;
   align-items: center;
   justify-content: space-between;

   width: 100vw;
   padding-top: 2em;
   padding-bottom: 0.5em;

   transition: all 0.3s;
}


.header .grid {
   display: flex;
   align-items: center;
   justify-content: space-between;

   width: 100%;
}

.header__cta {
   box-sizing: border-box;
   min-width: 10.625rem;
   height: 2.875rem;

   cursor: pointer;
   text-align: center;

   color: $grey;
   border: 2px solid $dark-grey;
   background: $white;

   font-size: 1.0625rem;
   font-weight: bold;
   font-style: normal;
}

.header__item:not(:last-child) {
   flex: 1;
}

.header__item:last-child {
   display: flex;
   align-items: center;
   flex: 2;
   justify-content: flex-end;
}
/**
===header===
*/

/**
*top block
*/
.top-block h1 {
   font-weight: 800;
}

.top-block {
   display: flex;
   align-items: center;
   justify-content: space-between;

   box-sizing: border-box;
   max-width: 1260px;
   max-height: 100vh;
   margin: auto;
   padding-top: 11.625rem;
   padding-bottom: 7.625rem;
}

.top-block__image {
   flex: 1.5;
}

.top-block__content {
   flex: 1;
}

.sign-in {
   color: $grey;

   font-size: 0.875rem;
}

.sign-in a {
   color: $red;
}

.cta__block {
   display: flex;
   align-items: center;
}

.cta__block .btn--primary {
   margin-right: 1rem;
}

.cta__block p {
   color: $grey;

   font-size: 1.0625rem;
   font-weight: bold;
}

/**
*===top block===
*/


/**
*device section
*/
.device {
   background-image: linear-gradient(#2f5bea 80%, #fff 20%);
}

.device .grid {
   display: flex;

   padding-bottom: 0;
}

.device h2,
.device h3 {
   color: $white;
}

.device p {
   color: $grey-special;
}

.device .subtitle {
   margin-bottom: 1rem;

   color: $dark-grey;
}

.device .device__title {
   flex: 1;

   margin-top: 75px;
}

.device .slider {
   flex: 2;
}

.slider__item {
   display: flex;
}

.slider__text {
   margin-top: 235px;
}

.slider__text h3 {
   margin-bottom: 2rem;
}

.slider__img {
   margin-right: 2rem;
   margin-left: 2rem;
}
/**
*===device section===
*/


/**
*posts section
*/
span.subtitle {
   display: block;
}

.posts .grid {
   max-width: 1280px;
}

.posts__title {
   max-width: 550px;
   margin: auto;
   margin-bottom: 3.3rem;

   text-align: center;
}

.posts__grid {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

.post:hover h4,
.post:hover p {
   color: #11171f;
}

.post h4,
.post p {
   transition: color 0.5s;
   letter-spacing: 0.02em;

   color: #4f5265;

   font-size: 14px;
   font-weight: bold;
   line-height: 1.125rem;
}

.post__excerpt {
   max-width: 280px;
   margin-top: 1rem;
}

.hover-box__content {
   position: absolute;
   top: 0;
   left: 0;

   display: flex;
   align-items: stretch;
   justify-content: stretch;

   width: 100%;
   height: 192px;

   transition: 0.5s ease;
   text-align: center;

   opacity: 0;
   background: rgba(196,196,196,0.5);
}

.post:hover .hover-box__content {
   opacity: 1;
}

.hover-box {
   position: relative;

   display: inline-block;
}

.hover-box__image {
   height: 192px;

   object-fit: contain;
}

.hover-box__content div {
   display: flex;
   align-items: center;
   justify-content: center;

   width: 100%;
   margin: 1rem;

   border: 3px solid #fff;
}

.hover-box__content a {
   margin: 0.5rem;
}
/**===posts section===*/


/**
*steps section
*/
.steps__title {
   max-width: 850px;
   margin-right: auto;
   margin-bottom: 3rem;
   margin-left: auto;

   text-align: center;
}

.steps__content {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.step {
   max-width: 280px;

   text-align: center;
}

.step__img {
   display: flex;
   align-items: center;
   justify-content: center;

   box-sizing: border-box;
   width: 6rem;
   height: 6rem;
   margin: auto;
   margin-bottom: 1.4rem;

   background-image: url("../img/main/oval.png");
   background-size: cover;
}

.special-border {
   display: inline-flex;
   align-items: center;
   justify-content: center;

   width: 5rem;
   height: 5rem;

   border-radius: 50%;
   background: $dark-special;
}

.step__arrow-next {
   width: 2rem;
   height: 5.75rem;
}

.step__excerpt {
   text-align: center;

   color: $grey;

   font-size: 1rem;
}
/**===steps section===*/

/**
*form
*/
.form {
   box-sizing: border-box;
   max-width: 640px;
   padding: 2.125rem 3.625rem;

   background: $white;
}

.form__title {
   margin-bottom: 0;

   text-align: center;

   font-weight: bold;
}

.form__subtitle {
   margin-top: 0.5rem;

   text-align: center;

   color: $black;

   font-size: 1.125rem;
   font-weight: 600;
   line-height: 2.125rem;;
}

.form__subinput {
   text-align: center;

   color: $subgrey;

   font-size: 0.875rem;
}

.form__submit,
.form__input {
   width: 100%;
   margin-top: 0.75rem;
}

.form__input {
   box-sizing: border-box;
   height: 4.6875rem;
   padding: 1.5625rem;

   border: 1px solid $dark-grey;
}

.form__input::placeholder {
   color: $grey;

   font-size: 18px;
}
/**
===form===
*/

/**
footer
*/

.footer {
   background-image: url("../img/footer/logo-bg.svg");
   background-repeat: no-repeat;
   background-position: top left -5.93rem ;
   background-size: contain;
}

.footer__top .grid {
   display: flex;
   align-items: flex-start;
   flex-flow: wrap;
   justify-content: space-between;
}

.footer__logo {
   flex: 1.5;
}

.footer__top .sitemap {
   flex: 3;
}

.sitemap {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

.sitemap__item {
   display: flex;
   align-items: flex-start;
   flex: 1;
   flex-direction: column;
   justify-content: flex-start;
}

.sitemap__item li a {
   color: $grey-black;

   font-size: 1rem;
   line-height: 2.5;
}

.sitemap__title {
   font-size: 1.125rem;
}

.subnav__item a {
   color: $grey-black;

   font-size: 0.875rem;
   font-weight: bold;
}

.social__item {
   display: flex;
   align-items: center;
   justify-content: center;

   width: 1.5rem;
   height: 1.5rem;

   border-radius: 50%;
   background: $dark-black;
}

.social__item:not(:last-child) {
   margin-right: 10px;
}

.footer__bottom .grid {
   display: flex;
   align-items: center;
   flex-flow: wrap;
   justify-content: space-between;

   padding-top: 0.7rem;
   padding-bottom: 1.2rem;
}

.subnav ul {
   display: flex;
   justify-content: space-between;

   width: 100%;
}

.subnav__item {
   padding-right: 2.5rem;
}

.social {
   display: flex;
   align-items: center;
   flex-flow: wrap;
   justify-content: space-between;
}

/**
===footer===
*/
